.mainContainer{
    
    height: auto;
    display: flex;
    text-align: center center;
    flex-direction: row;
    height: 400px;
    width: 1200px;
    align-self: center;
}

.imageContainer{
    margin-left: 10%;
    align-self: center;
    background-image: url("../assets/images/Foto_Andres.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 12px;
    height: 300px;
    width: 230px;
}

.textContainer{
    margin-left: 10%;
    align-self: center;
    height: 300px;
    width: 500px;
    border-radius: 12px;
    background-color: rgba(0, 255, 255, 0.728);
    display: flex;
    text-align: center center;
    flex-direction: column;
}

.title{
    color: rgba(44, 200, 211, 0.879);
    font-family: "Get Schwifty";
    -webkit-text-stroke: 0.2px chartreuse;
    font-size:xx-large;
}